---
import Layout from "../layouts/default.astro";
---

<Layout>
	<div class="shop">
		<h1>Show Sandwich Kits</h1>

		<noscript>
			<p>
				JavaScript is required to purchase things from the sndwch web store. To
				order by phone, call
				<a href="tel:+1-202-555-0156">+1-202-555-0156</a>.
			</p>
		</noscript>

		<div class="products">
			<p>TODO: list products</p>
			<p>TODO: show cart</p>
		</div>
	</div>
</Layout>
